/* Custom CSS for my devtools panel */

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background: #e2e1e0;
}
.action-menu {
  padding: 0.5em 1em 0;
  margin-bottom: 1.8em;
}
.pane {
  position: relative;
  width: 50%;
  padding: 0 1em;
}
.code-block {
  font-family: monospace;
  font-size: 1em;
  color: #222;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: auto;
  padding: 5px;
  margin-bottom: 1em;
  resize: none;
  border: 1px solid #888;
  border-radius: 2px;
  background: #eee;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.source-item {
  margin-bottom: 1em;
}
.source-item-title {
  font-size: 1.2em;
}
#inspectedResultWrapper {
  height: 100%;
  width: 100%;
}
#cssResultWrapper {
  height: 100%;
  width: 100%;
}
#statsResult, #styleSheetsInput {
  min-height: 30%;
  max-height: 100%;
  width: 100%;
}
#previewResult {
  width: 100%;
  height: 100%;
  margin: 0.5em 0;
  border: 1px solid #888;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* SPINNER */
#loading-indicator-right, #loading-indicator-left {
  position: absolute;
  top: 0;
  right: 0;
  margin: 26px 32px;
  visibility: hidden;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #3E82F7;
  border-bottom-color: #3E82F7;
  animation: spinner .8s linear infinite;
}

/* PROGRESS BAR */
.progress {
  position: relative;
  width: 100%;
  height: 11px;
  margin: 4px 0 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #999;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  box-shadow: none;
  background-color: #2980b9;
  height: 100%;
  width: 0%;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
}

/* TABS */
.tabs-layout {
  display: flex;
  flex-direction: column;
}
.tab-target {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tab-target:not(.active) {
  display: none;
}

.tabs-header {
  font-size: 0;
  position: relative;
  padding: 0;
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-self: flex-start;
  background: #f3f3f3;
  border-radius: 2px;
}

.tabs-header > li {
  display: inline-block;
  width: 120px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #111;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.tabs-header > .slider {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #3E82F7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  will-change: left;
}

/*  Ripple */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(62, 130, 247, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .5s linear;
  animation: rippleDrop .5s linear;
}
 @-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
 @keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}